body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible{
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;

}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;

}
.dream{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experiences{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
     
}
.full-stack{
    border-left: 5px solid orange;
    padding: 30px;
    box-shadow: 5px 7px 40px gray;
    margin-left: 80px;
    margin-right: 40px;
    margin-bottom: 100px;
    display: block;
    width: 50%;
}
.baby{
    border-left: 5px solid blue;
    padding: 30px;
    box-shadow: 5px 7px 40px gray;
    margin-right: 80px;
    margin-left: 40px;
    margin-bottom: 100px;
    display: block;
    width: 50%;
}